html {
  scroll-behavior: smooth;
}
main {
  padding-top: 52px;
}
.container {
  margin: 0 auto;

  max-width: 1200px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: block;
  padding: 12px 8px;

  border-radius: 12px;

  font-size: 20px;
  font-weight: 600;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.logo-link:hover,
.nav-link:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
.navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-list {
  display: flex;
  gap: 12px;
}
.nav-list-item {
}
.nav-link {
  display: block;
  padding: 14px 8px;

  border-radius: 12px;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.header-button {
  display: block;
  padding: 12px 8px;
  background-color: rgba(255, 0, 0, 0.3);

  border-radius: 12px;

  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.header-button:hover,
.header-button:focus {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
.hero-section {
  height: 400px;
}
.hero-container {
  padding: 60px 0;

  background-image: url("./images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 12px;
}
.main-title {
  margin: 0 auto;

  max-width: 350px;

  text-align: center;
  font-size: 36px;
}
.hero-text {
  margin: 0 auto;

  max-width: 350px;

  text-align: center;
}
.hero-button {
  display: block;

  width: 150px;

  margin: 0 auto;
  margin-top: 12px;

  padding: 24px;

  border-radius: 12px;

  background-color: rgba(255, 0, 0, 0.3);

  text-align: center;
  font-size: 24px;

  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.hero-button:hover,
.hero-button:focus {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
.about-section {
}
.about-container {
  display: flex;
}
.about-image {
  width: 50%;

  border-radius: 12px;
}
.about-text-container {
  padding: 12px;
}
.about-title {
  color: rgba(255, 0, 0, 0.5);

  text-align: center;
}
.about-text {
}
.about-link {
  text-decoration: underline;

  color: rgba(0, 0, 0, 0.5);

  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.about-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.technical-specifications-section {
}
.technical-specifications-container {
  display: flex;
}
.technical-specifications-text-container {
  width: 50%;

  padding: 12px;
}
.technical-specifications-title {
  color: rgba(255, 0, 0, 0.5);

  text-align: center;
}
.technical-specifications-list {
}
.technical-specifications-item {
}
.technical-specifications-styled-text {
  font-weight: 700;
}
.technical-specifications-image {
  display: block;
  width: 50%;

  border-radius: 12px;
}
.gallery-section {
}
.gallery-container {
  padding: 24px 0;
}
.gallery-list {
  display: flex;
  gap: 4px;
}
.gallery-item {
  width: calc((100% - 20px) / 5);
}
.gallery-photo {
  width: 100%;

  border-radius: 12px;
  object-fit: cover;
}

.footer {
}
.contacts-section {
}
.contacts-container {
  display: flex;

  align-items: center;
}
.left-footer-part {
  width: 50%;
}
.footer-button {
  display: block;

  margin: auto;

  padding: 24px;

  width: 200px;

  border-radius: 12px;

  background-color: rgba(255, 0, 0, 0.3);

  text-align: center;
  font-size: 32px;

  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
.footer-button:hover,
.footer-button:focus {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
.contacts-map {
  width: 50%;

  border-radius: 12px;
}
